*{
    margin:0;
}
.herobg{
    background-color: #A5C687;
}
    /*beginning of nav bar style*/

    .nav_buttons{
    list-style-type: none;
    margin:0px;
    width: 80 px;
    overflow: hidden;
    padding: 14px 16px;
}

.nav-item {
    display: inline-block;
    color: #A5C687;
    text-align: center;
    padding: 14px 16px;
}


.nav-item:hover{
    color:#A5C687;
    background-color: #1f310d;
}
.nav-item:active{
    color:#A5C687;
    background-color: #1f310d;
}

li a{
    text-decoration: none;
    color:inherit;
}

.navigation{
    background-color: #A5C687;
    padding: 8px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
}
.inline-block{
    display: inline-block;
    text-decoration: none;
    position: sticky;
}
#logo{
    height: 80px;
    width: 80px;
}
/*end of nav bar style*/

/*beginning of heroimage style*/
.content{
    width: 355px;
    background-color:#A5C687;
    margin-left: auto;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#me{
    height: 250px;
    width: 300px;  
    align-self: center;
}

.heroImg{
    justify-content: left;
}

h1,p{
padding: 10px;
text-align: left;
color:#1f310d;
}

button{
    padding: 10px;
    color: #A5C687;
    background-color: #1f310d;
    border:none;
}

button:active{
    color:#1f310d;
    background-color: #B2E085;
}

/*end of heroimage style*/

/*beginning of footer style*/
#footer{
    background-color: #ebc293c0;
    padding: 0px;
    width:100%;
    margin-top: 100%;

}

footer{
    display:inline-block;
}
.foot_buttons{
    margin:0px;
    width: 80 px;
}

.foot-items{
    text-decoration: none;
    color:#2E1104;
    list-style-type: none;
    padding: 10px
}
/*end of footer style*/